## <a href="https://www.w3schools.com/python/python_sets.asp">Set</a>
Sets are collection of elements in Python
* mutable
* unordered
* no index
* distinct (eliminate duplicate entries)
* very fast membership testing: O(1)
* enclosed in { } and comma separated

In [25]:
# Examples

empty_dict = {} # <class 'dict'>
d = {'a': 3, 'b':2}

empty_set = set()
empty_set = set(d)
number_set = set([1, 3, 5, 7, 9, 3, 1, 8])
mixed_set = set([1, 3.5, "abc"])
fruit_set = set([ "apple", "banana", "orange", "plum", "banana"])

In [21]:
print(d)
print(number_set)
print(mixed_set) #. remove redundant values
print(fruit_set)

{'a': 3, 'b': 2}
{1, 3, 5, 7, 8, 9}
{1, 3.5, 'abc'}
{'banana', 'orange', 'apple', 'plum'}

In [24]:
number_set | fruit_set

{1, 3, 5, 7, 8, 9, 'apple', 'banana', 'orange', 'plum'}

In [22]:
# distinct
some_set = {'a','b', 3, 'b'}
print(some_set) # {'b', 3, 'a'}

{'a', 3, 'b'}

In [23]:
lista = ['a','4',3,534,4534,'b','a','b']
print(lista)

setlista = set(lista)
print(setlista)

['a', '4', 3, 534, 4534, 'b', 'a', 'b']
{'a', 3, 'b', 4534, 534, '4'}

### Set Methods

In [153]:
aSet = set('hello')
print(a)

aList = list('hello')
print(b)

{1, 2, 3, 'a'}
{2, 3, 4}

In [156]:
print(aSet)
print(len(aSet))

{'l', 'o', 'e', 'h'}
4

In [78]:
aSet.add(5)
aList.append(5)
aList.extend([1,3, 'x'])

# aSet.remove(2) # KeyError: 2
aSet.discard(2)

# aList.remove('l')

aSet.pop() #random discard the last one
aList.pop(0) # remove first index value

'e'

In [ ]:
aSet.clear()
aList.clear()

In [79]:
print(aSet)
print(aList)

{'o', 'l', 'e'}
['l', 'l', 'o', 5, 1, 3, 'x', 5, 1, 3, 'x']

### Set Operations
* to remove redundancy

In [88]:
# VIP

a = set("arizona")
b = set("arkansas")

print(a-b) # only keep <= a
# print(a+b) # TypeError: unsupported operand type(s) for +: 'set' and 'set'

print(a|b) #  union
print(a & b) #intersaction

{'o', 'z', 'i'}
{'s', 'i', 'o', 'z', 'a', 'k', 'r', 'n'}
{'n', 'r', 'a'}

In [91]:
c = list("arizona")
d = list("arkansas")

print(c+d)

['a', 'r', 'i', 'z', 'o', 'n', 'a', 'a', 'r', 'k', 'a', 'n', 's', 'a', 's']

### [Python Operations](https://www.tutorialspoint.com/python/python_basic_operators.htm)

### logical ==> true/false
* (false and true) = False = 0
* (true and ture) = True = 1
* (false and false) = False = 0

In [109]:
# logical
# 0 = False, 1 = True

print('==>> and')
print(0 and 1)
print(1 and 1)
print(0 and 0)

print('==> or')
print(0 or 1)
print(not 0 or 1) # true or true ==> True/False

print('==> numbers')
print(5 or 6) #. either one is true, return the first true value
print(5 and 6) #. both need to be true. return later one

==>> and
0
1
0
==> or
1
True
==> numbers
5
6

### Relational / Comparison ==> condition = true/false

In [107]:
a = 'x'
b = 'y'

c = 0
d = 1
print(a == b)
print(a != b)

print(d >= c)
print(c > d)

False
True
True
False

In [108]:
print(0 != 1)
print(0 == 1)
print(0 and 1) # false and true = false = 0

True
False
0

In [78]:
6//2

3

In [144]:
# exercise: operations
# what are the outputs?

a = set([1,2,3, 'a'])
b = set([2,3,4])

c = [3,4,5,'a','b']
d = [4,5,6]
e = []

g = 'x'
h = "y"

In [145]:
print(a & b) 
print(a | b)
print(a - b)

print(0 & 1)
print(0 | 1)

{2, 3}
{1, 2, 3, 'a', 4}
{1, 'a'}
0
1

In [143]:
print(a and b) # return later one for both true.
print(a or b)

print(0 and 1)
print(0 or 1) # if (0 is true or 1 is true) = true.
print(0 or 0) # always flase

print(c or d)
print(c and d)

print(g or h)
print(g and h)

# TypeError: unsupported operand type(s) for |: 'list' and 'list'
# print(c | d)

# TypeError: unsupported operand type(s) for +: 'set' and 'list'
# print(a + c)

{2, 3, 4}
{1, 2, 3, 'a'}
0
1
0
[3, 4, 5, 'a', 'b']
[4, 5, 6]
x
y

In [152]:
print(0 & 1)
print(0 | 1)

# same as
print(0 and 1)
print(0 or 1)

0
1
0
1